<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6155a2f7-abb5-42b5-be77-6bb0841cf690/resourceGroups/ResGrp_Interneuron_Development/providers/Microsoft.Web/sites/Interneuron-Autonomic</ResourceId>
    <ResourceGroup>ResGrp_Interneuron_Development</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://interneuron-autonomic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>interneuron-autonomic.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Interneuron-Autonomic</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Interneuron-Autonomic</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>